<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/subpage.css">
	<link rel="stylesheet" href="css/web fonts/cicle_fina_macroman/stylesheet.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="css/web fonts/cicle_gordita_macroman/stylesheet.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="css/web fonts/cicle_semi_macroman/stylesheet.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="css/web fonts/cicle_semiitalic_macroman/stylesheet.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="css/web fonts/cicle_shadow_macroman/stylesheet.css" type="text/css" charset="utf-8" />
</head>
<body class="subpage">
	<div id="topBanner">
		<a href="home.html"><div id="subpageLogo">
	 	</div></a>
	 	<div id="navBar">
			<div id="navBarInside">
				<a href="bigprojects.html"class="currentPage navItem">Big Projects</a><a href="littleprojects"class="navItem">Little Projects</a><a href="edibleprojects"class="navItem">Edible Projects</a>
			</div>
		</div>
	</div>
		<div id="pageContent">
			<div id="rightNav">
			<img class="divider"src="images/subpage/blueDivider.png">
			<div class="rightNavContent">
				<h2>Other Big Projects</h2>
				<ul id="bigProjectList">
					<li>a brand new deck</li>
					<li>rolling out the green carpet</li>
					<li>a bathroom fix</li>
					<li>the grand woodshop</li>
				</ul>
			</div>
		</div>
			<div class="band band1">
				<div class="pageCol">
					<h1>The Kitchen Makeover</h1>
					<p>The poor shape of the kitchen upon finding this house, is quite possibly the reason I was able to afford it.  It worked... sure, but the 1970’s oak cabinets, vinal floors and a 4” deep sink (seriously... what can you wash in that?) did not make for a plesant cooking expirience. It was the very first thing to be replaced, and my favorite transformation to date.</p>
					<div class="columns2by">
						<div class="image2by">
							<img src="images/subpage/kitchen/LovelyLittleHouse-Kitchen-Makeover-before-1.jpg">
						</div>
					</div>
					<div class="columns2by">
						<div class="image2by">
							<img src="images/subpage/kitchen/LovelyLittleHouse-Kitchen-Makeover-after-1.jpg">
						</div>
					</div>
					<div class="spacer"></div>
					<h2>Out With the Old, In With the New</h2>
					<p>I don’t think I lasted even a whole day with the sink. It was really the start the whole thing. Long before I signed the final papers and got the keys to the house I had found and purchased the replacement in the clearance section of Ikea, exactly what I was dreaming of a deep, white cast iron sink - and for a quarter of the price!</p>
					<div class="largeImage">
						<img src="images/subpage/kitchen/LovelyLittleHouse-Kitchen-Makeover-Old-Sink.jpg">
					</div>
					<p>We decided to keep the major appliances and plumbing in the same place. The layout was really fine, it was the execution that had all the problems. Ikea kitchen’s offer a ton of delightful space utilizing features and they come at a price that even a brand new homeowner can stomach, plus they have a fantastic tool that let’s you design your entire kitchen online, I was able to mock up my ideal kitchen, in my kitchen!</p>
					<div class="largeImage">
						<img src="images/subpage/kitchen/LovelyLittleHouse-Kitchen-Makeover-Design-3D.jpg">
					</div>
					<p>Okay. Let me get real. I COULD NOT have done the rest of this without the relentless help of my father, who graciously took a break from retirement to be my full time contractor. <b>A million thank yous!</b> Taking apart a kitchen is back-breaking work, and it creates quite a mess...</p>
					<div class="largeImage">
						<img src="images/subpage/kitchen/LovelyLittleHouse-Kitchen-Makeover-demo.jpg">
					</div>
					<p>Do you think you like putting together Ikea furniture? It’s a fun puzzle right? Yeah, I thought so too. Well don’t be fooled, a kitchen is a whole different story. For example, if you try to watch Breaking Bad while puting together your Ikea kitchen, you will hate Breaking Bad, and apparently, that says something.</p>
					<div class="largeImage">
						<img src="images/subpage/kitchen/LovelyLittleHouse-Kitchen-Makeover-cabinet-build.jpg">
					</div>
				</div>
			</div>
			<div class=" band band2">
				<div class="pageCol">
				</div>
			</div>
			<div class="band band3">
			</div>
		</div>
		<div class="band bandFoot">
			<div id="footer"></div>
		</div>
	</div>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script type="text/javascript">
            var s = skrollr.init({
                render: function(data) {
                //Log the current scroll position.
                $('#offset').text(data.curTop);
                },
                forceHeight:false
                });
            </script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
</body>
</html>

